block js
  script(src=`${_relativePath}assets/js/vendor.bundle.js`)
  script(src=`${_relativePath}assets/js/common.bundle.js`)
  //-
    // Google Tag Manager (noscript)
    // End Google Tag Manager (noscript)
