@charset "UTF-8";
/* ****************************************************************************************************

  # home-kv-title
  - scope

**************************************************************************************************** */

.s-home-kv-title {
  text-align: center;
}


/* ======================================================================

  ## item

====================================================================== */
.s-home-kv-title__item {
  font-size: 3rem;
  color: $g-color-white;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .s-home-kv-title__item {
    font-size: 4rem;
  }
}
