@charset "UTF-8";
/* ****************************************************************************************************

  # anchor-txt
  - utility

**************************************************************************************************** */

.u-anchor-txt {
  color: $g-color-link;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
