@charset "UTF-8";
/* ****************************************************************************************************

  # margin
  - utility

**************************************************************************************************** */


/* ======================================================================

  上方向のマージン

====================================================================== */
.u-mt0 {
  margin-top: 0 !important;
}
.u-mt1 {
  margin-top: 1rem !important;
}
.u-mt2 {
  margin-top: 2rem !important;
}
.u-mt3 {
  margin-top: 3rem !important;
}
.u-mt4 {
  margin-top: 3rem !important;
}
@for $i from 0 through 10 {
  .u-mt#{$i} { margin-top: 1rem * $i !important; }
}


/* ======================================================================

  下方向のマージン

====================================================================== */
.u-mb0 {
  margin-bottom: 0 !important;
}
