/* ****************************************************************************************************

  # fitted-image
  - foundation > mixin
  - padding-topでアスペクト比維持の画像

**************************************************************************************************** */
@use "sass:math";


@mixin fitted-image($width: 100%, $ratioWidth, $ratioHeight, $objectFitCover: false) {
  display: block;
  position: relative;
  width: $width;
  height: auto;
  &::after {
    display: block;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: math.div($ratioHeight, $ratioWidth) * 100%;
    content: "";
  }
  > img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @if $objectFitCover {
      height: 100%;
      object-fit: cover;
      font-family: "object-fit: cover;";
    } @else {
      height: auto;
    }
  }
}
