/* ****************************************************************************************************

  # kv
  - layout

**************************************************************************************************** */
@use "../foundation/tool/global";


.l-kv {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv {
    height: 50rem;
  }
}


/* ======================================================================

  ## container

====================================================================== */
.l-kv__container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 global.$content-side-gutter;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv__container {
    height: 50rem;
    padding: 0 global.$content-side-gutter-mq-min-md;
  }
}


/* ======================================================================

  ## image

====================================================================== */
.l-kv__image {
  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::after {
    display: block;
    z-index: 1;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #071505;
    mix-blend-mode: overlay;
    content: "";
  }
}

/* ### img
---------------------------------------------------------------------- */
.l-kv__image > img {
  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
