@charset "UTF-8";
/* ****************************************************************************************************

  # main
  - layout

**************************************************************************************************** */

.l-main {
  position: relative;
  background-color: transparent;
  padding: $g-header-height 0 0;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .l-main {
    padding-top: $g-header-height-pc;
  }
}
