@charset "UTF-8";
/* ****************************************************************************************************

  # article-list
  - project

**************************************************************************************************** */
// ```
// .p-article-list
//   .p-article-list__item
//     .p-article-list__inner
//       .p-article-list__head
//         .p-article-list__date
//         .p-article-list__title
//       .p-article-list__body
//         .p-article-list__txt
//   .p-article-list__item
// ```

.p-article-list {
  display: block;
  position: relative;
}


/* ======================================================================

  ## item

====================================================================== */
.p-article-list__item:nth-child(1) {
  border-top: 1px dashed $g-color-border;
}

.p-article-list__item {
  display: block;
  position: relative;
  padding: 1.4rem 1.4rem;
  border-bottom: 1px dashed $g-color-border;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .p-article-list__item {
    padding: 2.4rem 2.6rem;
  }
}


/* ======================================================================

  ## inner

====================================================================== */
.p-article-list__inner {
  display: block;
}


/* ======================================================================

  ## head

====================================================================== */
.p-article-list__head {
  position: relative;
}


/* ======================================================================

  ## date

====================================================================== */
.p-article-list__date {
  position: relative;
  color: $g-color-txt;
  font-size: $g-font-size-s;
  line-height: 1.4;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .p-article-list__date {
    font-size: $g-font-size-s-pc;
  }
}


/* ======================================================================

  ## title

====================================================================== */
.p-article-list__title {
  color: $g-color-txt;
  font-size: $g-font-size-m;
  font-weight: $g-font-weight-bold;
}
.p-article-list__date + .p-article-list__title {
  margin-top: .5rem;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .p-article-list__title {
    font-size: $g-font-size-m-pc;
  }
}


/* ======================================================================

  ## body

====================================================================== */
.p-article-list__head + .p-article-list__body {
  margin-top: 1.4rem;
}


/* ======================================================================

  txt

====================================================================== */
.p-article-list__txt {
  font-size: $g-font-size;
  color: $g-color-txt;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .p-article-list__txt {
    font-size: $g-font-size-pc;
  }
}
