/* ****************************************************************************************************

  # gnav
  - project

**************************************************************************************************** */
@use "../../foundation/tool/global";


.p-gnav {
  display: block;
  overflow-y: auto;
  @include global.z-index(gnav);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  padding: (global.$header-height + 3.8rem) global.$content-side-gutter 5rem;
  background-color: global.$color-gray;
  font-size: 1.4rem;
  transition: transform .1s;
  -webkit-overflow-scrolling: touch;
}
.p-gnav.is-active {
  transform: translateX(0);
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .p-gnav {
    overflow: visible;
    transform: translateX(0);
    width: auto;
    position: relative;
    padding: 0;
    background-color: transparent;
  }
}


/* ======================================================================

  ## list

====================================================================== */
.p-gnav__list {
  display: block;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .p-gnav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
}


/* ======================================================================

  ## divider

====================================================================== */
.p-gnav__divider {
  display: block;
  position: relative;
}
.p-gnav__divider + .p-gnav__divider {
  margin-top: 2.6rem;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .p-gnav__divider {
  }
  .p-gnav__divider + .p-gnav__divider {
    margin-top: 0;
    margin-left: 3rem;
  }
}


/* ======================================================================

  ## item

====================================================================== */
.p-gnav__item {
  display: block;
  position: relative;
  padding: .3rem 1rem .3rem 0;
  color: global.$color-white;
  font-size: global.$font-size-md;
  font-weight: global.$font-weight-bold;
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-12%, -50%) scale(1, .8) rotate(45deg);
    width: .8rem;
    height: .8rem;
    border-top: 1px solid global.$color-white;
    border-right: 1px solid global.$color-white;
    content: "";
  }
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .p-gnav__item {
    padding: .4rem .8rem;
    color: global.$color-black;
    font-size: global.$font-size-md;
    &::after {
      content: none;
    }
  }
}


/* ======================================================================

  txt

====================================================================== */
.p-gnav__txt {
  line-height: 1.4;
}
// @media print, screen and (min-width: global.$breakpoint-min-md) {
//   .p-gnav__txt {
//   }
// }
