@charset "UTF-8";
/* ****************************************************************************************************

  # kv-title
  - project

**************************************************************************************************** */

.p-kv-title {
  text-align: center;
}


/* ======================================================================

  ## item

====================================================================== */
.p-kv-title__item {
  font-size: 3rem;
  color: $g-color-white;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .p-kv-title__item {
    font-size: 4rem;
  }
}
