//- **********************************************************************
//- ナビゲーション
//- **********************************************************************
nav.p-gnav#js-gnav
  ul.p-gnav__list
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") hoge
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") fuga
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") piyo
