@charset "UTF-8";
/* ****************************************************************************************************

  # fade-up
  - component

**************************************************************************************************** */

.c-fade-up {
  opacity: 0;
  position: relative;
  top: 2.2rem;
  transition:
    opacity .5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s,
    top .7s cubic-bezier(0.445, 0.050, 0.550, 0.950) .1s;
}
@media print, screen and (min-width: $g-breakpoint-up-m) {
  .c-fade-up {
    transition:
    opacity .5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s,
    top .7s cubic-bezier(0.445, 0.050, 0.550, 0.950) .1s;
  }
}

.c-fade-up.is-inview {
  opacity: 1;
  top: 0;
}
