@charset "UTF-8";
/* ****************************************************************************************************

  # layered-image
  - component
  スクロールして見えたらレイヤーが横にスッとずれる効果がある画像

**************************************************************************************************** */


.c-layered-image {
  display: block;
  position: relative;
  overflow: hidden;
  width: $g-layered-image-width;
  height: auto;
  // ▼スクロールのレイヤー
  &::before {
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $g-layered-image-color;
    transition: transform $g-layered-image-animation;
    content: "";
  }
}

.c-layered-image.is-inview {
  // ▼スクロールのレイヤー
  &::before {
    transform: translateX(100%);
  }
}


/* ======================================================================

  ## item

====================================================================== */
.c-layered-image__item {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: none;
  height: auto;
}
