@charset "UTF-8";
/* ****************************************************************************************************

  # color
  - theme

**************************************************************************************************** */

.t-color-white {
  color: $g-color-white !important;
}

.t-color-black {
  color: $g-color-txt !important;
}

.t-color-red {
  color: $g-color-red !important;
}
